hr {
    border-color: #666;
}

/*** FORM */
input[type="text"] {
    padding: 8px 12px;
    width: 100%;
    color: var(--clr-text);
    background-color: hsla(0, 68%, 63%, 0.3);
    border: solid 1px #ad5252;
    border-radius: 3px;
}
input[type="text"]:focus {
    border-color: white;
}
input::placeholder {
    color: var(--clr-text);
    opacity: 0.5;
    font-weight: var(--fw-regular);
}
input:focus-visible {
    outline: none;
}
.book-comment-input-wrapper input {
    border-top: none;
    border-left: none;
    border-top-right-radius: 0;
}
.book-comment-input-wrapper button svg {
    height: 32px !important;
    width: auto !important;
}
.book-comment-input-wrapper button svg {
    transition: 0.35s;
}
.book-comment-input-wrapper :is(button:hover, button:focus) svg {
    fill: #ad5252;
}

/*** BOOK */
.book-item {
    padding: 20px 16px;
    /* border: solid 1px #666; */
    border-radius: 9px;
    background-color: hsla(0, 68%, 63%, 0.1);
    /* box-shadow: 0px 16px 32px 0px rgba(66, 68, 90, 0.8); */
}
.book-cover {
    width: 100%;
    max-width: 240px;
    height: auto;
    opacity: 0.7;
}
.book-title-wrapper {
    min-height: 52px;
    vertical-align: middle;
}
.book-price {
    font-size: var(--fs-text-xl);
    font-weight: var(--fw-bold);
    color: var(--clr-red);
}
.book-likes-wrapper {
    color: var(--clr-red);
}
.book-like-icon {
    margin-left: 8px;
    margin-bottom: -7px;
    color: red;
    cursor: pointer;
}
.book-item td {
    vertical-align: top;
}
.book-item td:first-of-type {
    font-weight: var(--fw-bold);
    padding-right: var(--sp-10);
}
.book-comments td {
    padding-bottom: var(--sp-05);
}
.book-comments td:first-of-type {
    font-weight: var(--fw-regular);
}
.book-comments td:nth-of-type(2) {
    padding-right: var(--sp-05);
}
.book-comments-listing-wrapper {
    max-height: 200px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: hsla(0, 68%, 63%,0.7) #333;
}


/***** BREAKPOINTS */
@media(max-width: 511px) {
    .book-item td:first-of-type {
        padding-right: var(--sp-05);
        max-width: 95px;
        word-wrap: break-word;
    }
}
